---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<h1>404 Page not found</h1>
		<p class="instructions">Oops</p>
		<p><a href="/">Back to homepage</a></p>
	</main>
</Layout>

<style>
</style>
