---
import Layout from '../layouts/Layout.astro';
---

<Layout title="I am astro">
	<main>
		<h1>Second <span class="text-gradient">Astro</span> page</h1>
		<p class="instructions">
			Linking back to <a href="/">index</a>
		</p>
	</main>
</Layout>

<style>
	h1 {
		font-size:5rem;
		font-weight: 800;
		margin: 0;
        color: red;
	}
</style>
